.cart-file{
  background-color: rgb(230, 230, 230);
  padding: 20px 18px 18px;
  display: flex;
  gap: 10px;
  min-height: 600px;
}

.topLeftCart{
  padding: 20px 15px 15px;
  box-sizing: border-box;
  width: 77%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.topLeftCartTitle{
  font-size: 28px;

}
.Deselect{
  margin-top: 20px;
  color: #007185;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  margin-bottom: 10px;
}

.priceLeftcart{
  text-align: end;
}

.cartsItemDev{
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  height: fit-content;
  justify-content: start;
  align-items: center;
}
.empty{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 300px;
}
.empty img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.emptyii{
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.cartItemBlock{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid black;
  width: 100%;
}

.cartItemLeftBlock{
  display: flex;
  width: 80%;
}

.cartItemLeftImgBlock{
  width: 20%;
  flex-shrink: 0;
padding: 5px;
}

.cartItemLeftImg{
  width: 100%;

}

.cartItemLeftDetail{
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  gap: 7px;
}

.cartItemLeftDetailName{
  font-size: 14px;
}
.inStock{
  font-size: 12px;
  color: #007185;
  font-weight: 600;
}

.freeShoping{
  font-size: 12px;
  color: gray;
}
.prime{
  font-size: 13px;
  background-color: darkblue;
  width: fit-content;
  color: white;
  padding: 3px 7px;
}

.removeFromCart{
  font-size: 14px;
  padding: 5px 0px;
  border-radius: 20px;
  font-weight: 500;
  margin-top: 7px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  border: 2px solid #ffce12;
  width: 180px;
}

.removeFromCart button{
  border: none;
  cursor: pointer;
  padding: 4px 6px;
  border-radius: 20px;
}

.removeFromCart button:hover{
  background-color: #fee06a;
}
.removeFromCart p{
  font-size: 20px;
}

/* .removeFromCart:hover{
  background-color: #f7c602;
} */
.pese{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  box-sizing: border-box;
  font-weight: 600;
  gap: 5px;
}
.line-through{
  font-size: 14px;
  font-weight: 100;
  text-decoration: line-through;  
}

.festival{
  font-size: 12px;
  background-color: red;
  padding: 4px 12px;
  color: white;
}

.topRightCart{
  padding: 20px 15px 15px;
  background-color: white;
  width: 23%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-sizing: border-box;
}
.subTotalTitle{
  font-size: 15px;
  font-weight: 500;
}
.subTotaltitlteSpan{
  font-weight: 700;
  font-size: 15px;
}
.gidtAddto{
  display: flex;
  margin: 10px 0px;
  
}
.giftContain{
  font-size: 14px;
  padding-left: 5px;
  font-weight: 200;
}

.proceeedToBuy{
  display: flex;
  font-size: 14px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 180px;
}

.proceedtobuybutton{
  background-color: #ffce12;
  padding: 12px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  width: 100%;
  border: none;
}

.sub{
  background-color: rgb(249, 249, 151);
}


/* .proceedtobuybutton:hover{
  background-color: #f7c602;
} */

.count-item{
  font-size: 13px;
  font-weight: 600;
  color: darkblue;
}

/* item-section */

.your-items-cart{
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  margin-bottom: 40px;
}

.container-your-cart{
  height: 100%;
  width: 100%;
  border: 1px solid black;
  margin-top: 10px;
}
.your-items-button{
  display: flex;
  justify-content: start;align-items: start;
  gap: 20px;
  padding: 15px;
  cursor: pointer;
  flex-wrap: wrap;
}
.your-items-button button{
  padding: 7px 15px;
  border-radius: 10px;
  border: 1px solid black;
}

/* main-container */
.prodcust-conatiner-your-items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 15px;
  gap: 20px;
  margin: 0 auto 20px auto;
}

.products-your-items{
  width: 100%;
  height: 450px;
  border: 1px solid rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  padding: 10px;
}



.your-items-box img{
  height: 250px;
  width: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.your-items-box.text{
  padding: 10px;
  font-size: 13px;
  line-height: 20px;
}

.bold{
  font-size: 15px;
  font-weight: 600;
}

 .your-items-box.text button{
  padding: 5px 12px;
  border-radius: 10px;
  border: 1px solid black;
  width: 90%;
  background-color: white;
 }




 @media(max-width: 1460px){
  .prodcust-conatiner-your-items{
      grid-template-columns: repeat(3, 1fr);

  }
 }

 
 @media(max-width: 1000px){
  .prodcust-conatiner-your-items{
      grid-template-columns: repeat(2, 1fr);

  }
 }


  
 @media(max-width: 600px){
  .prodcust-conatiner-your-items{
      grid-template-columns: repeat(1, 1fr);
  }
  .your-items-button{
    display: none;
  }
 }

 @media(max-width: 850px){
  .cart-file{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .topLeftCart{
    width: 100%;
  }
  .topRightCart{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
 }
 