<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <script>



  



    function first(param){
      console.log("First function")
      param()
      console.log("First function")

    }

    first(function(){
      console.log("Second fucntion")
    })


    const user = {
      name: "youman",
      age: "12"
    }
    console.log("name:",user['name'])
    user.name = 'khizra'
    console.log("new name:", user['name'])


  </script>


  <body>
    <h1>Javascript</h1>
    <p>Data types</p>
    <p>Loops starting</p>
    
    <script src="" async defer></script>
  </body>
</html>