.admin-container{
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.admin-sub-container{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1.2fr 5fr;
  gap: 5px;
  justify-content: center;
  border: 1px solid gray;
  padding-bottom: 10px;
}

.admin-left{
  height: 100%;
  width: 100%;
  min-width: 200px;
  display: grid;
  grid-template-rows: 70px 1fr 100px;

}

.admin-right{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 70px 2fr 1.5fr ;
  gap: 10px;
  padding-right: 10px;
  
}
.admin-left-top{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  border-right: 1px solid gray;

}
.admin-left-bottom{
    border-right: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;

}
.admin-left-middle{
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding-left: 20px;
  border: 1px solid black;
  color: rgb(39, 39, 39);
  cursor: pointer;

}

.admin-left-middle span{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 15px;
  gap: 15px;
  padding: 12px 0px;
  width: 90%;
  border-radius: 10px;
}
.admin-left-middle span:hover{
  background-color: gray;
}


/* //right side */
.admin-right-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px;
  height: 100%;
  width: 100%;
}
.admin-right-middle{
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;

}
.admin-right-bottom{
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}