
.buy-container {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 30px;
  background: #f1f3f6;
  min-height: 100vh;
}

/* LEFT SECTION */
.left-section {
  flex: 1.5;
}

.section-box {
  background: white;
  padding: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 4px;
}

.section-box.order-box{
  background-color: yellow;
}

.section-count {
  width: 30px;
  height: 30px;
  background: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 15px;
}

.section-count.blue {
  background: #2874f0;
  color: white;
}

.section-content h4 {
  margin: 0;
  font-size: 16px;
}

.section-content p {
  margin: 2px 0 0;
  font-size: 13px;
  color: #333;
}

.change-btn {
  margin-left: auto;
  background: transparent;
  border: none;
  color: #2874f0;
  font-weight: bold;
  cursor: pointer;
}

/* PRODUCT BOX */
.product-box {
  display: grid;
  grid-template-columns: 1fr 1fr 0.4fr;
  background: white;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
  gap: 20px;
}

.product-img {
  width: 100%;
  min-width: 100px;
  min-height: 150px;
  height: 100%;
  object-fit: contain;
  background-color: #ccc;
}

.product-info {
  flex: 2;
  width: 100%;
}

.product-info h4 {
  margin: 0 0 5px;
}

.small {
  font-size: 13px;
  color: gray;
  margin-bottom: 5px;
}

.price {
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  padding-top: 20px;
  font-weight: 900;
  font-size: 22px;
}
.offers{
  color: green;
  font-size: 16px;
  font-weight: 100;
}

/* QTY CONTROLS */
.qty-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.qty-controls button {
  width: 28px;
  height: 28px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.qty-controls span {
  font-size: 16px;
}

.remove-btn {
  color: #2874f0;
  font-weight: bold;
  cursor: pointer;
}

.delivery-info {
  text-align: right;
  font-size: 13px;
  width: 100%;
}

/* GST BOX */
.gst-box {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.email-note {
  font-size: 13px;
  margin: 10px 0;
  color: gray;
}

/* CONTINUE BTN */
.continue-btn {
  width: 100%;
  padding: 15px;
  background: #fb641b;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

/* RIGHT SECTION */
.right-section {
  flex: 2;
}

.price-card {
  background: white;
  padding: 20px;
  border-radius: 4px;
  height: 200px;
  margin-bottom: 10px;
}

.price-card h4 {
  margin: 0 0 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.row.total{
  font-size: 25px;
  font-weight: 900;
  
}

.price-card{
  font-size: 20px;
}

.green {
  color: green;
}

.total {
  font-weight: bold;
}

.savings {
  font-size: 18px;
  margin-top: 10px;
  color: green;
  font-weight: 600;
}


/* delivery-information */
.delivery-information{
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-bottom: 20px;
  margin-left: 10px;
}
.delivery-information h2{
  padding-left: 0px;
}
.form-info{
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-info span{
  display: flex;
  gap: 15px;
}
.form-info input{
  padding: 15px 60px;
  border-radius: 5px;
  border: 1px solid gray;
  
}
/* Responsive */
@media (max-width: 800px) {
  .buy-container {
    flex-direction: column;
  }

  .right-section {
    width: 100%;
  }
}


@media(max-width: 600px){
  .product-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}