.hero {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
  
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; 
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.9));
  pointer-events: none;
}


.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-95%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 5rem;
  cursor: pointer;
  padding: 5px 25px;
  border-radius: 10px;

}



.prev {
  left: 10px;
}

.next {
  right: 10px;
}