body{
  max-height: auto;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial;
  border: border-box;
  box-sizing: border-box;
}
.header-nav{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar{
  height: 60px;
  background-color: #0F1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-logo{
  height: 55px;
  width: 125px;
  margin-right: 5px;
  flex-shrink: 0;

  
}

.logo{
  background-image: url("Assets/amazon_logo.png");
  background-size: cover;
  object-fit: cover;
  height: 55px;
  width: 100%;
}
.border{
  border: 1.5px solid transparent;
}
.border:hover{
  border: 1.5px solid white;
}

/* box-2 */

.address-first{
  color: #cccccc;
  width: 55px;
  font-size: 0.80rem;
  margin-left: 22px;
  cursor: pointer;
  margin-right: 10px;

}
.address-second{
  font-size: 1rem;
  margin-left: 3px;
  cursor: pointer;

}
.address-icon{
  display: flex;
  align-items: center;
}

/* box-3 */
.nav-search{
  display: flex;
  flex-shrink: 1;
  justify-content: space-evenly;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
}
.nav-search:hover{
  border: 2px solid orange;
  cursor: pointer;

}
.search-select{
  background-color: #e4e4e4;
  width: 50px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  cursor: pointer;


}
.search-input{
  width: 100%; /*Khali bacha hova area bhi lelo*/
  font-size: 1rem;
  border: none;
  padding-left: 5px;
}

.search-input:focus{
  border: none;
  outline: none;
}
.search-icon{
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #0F1111;
}

.search-icon button{
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: white;
  padding-top: 8px;
}
/* box-4 */

span{
  font-size: 0.7rem;
}
.nav-second{
  font-size: 0.80rem;
  font-weight: 700;
  
}


/* box-5 */
.nav-cart i{
  font-size: 30px;
}
.nav-cart{
  font-size: 0.85rem;
  font-weight: 700;
  cursor: pointer;
  margin-right: 20px;
  color: white;
text-decoration: none;
margin-left: 5px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.nav-return{
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

.nav-signin{
    cursor: pointer;
    margin-right: 10px;
}

.nav-return *{
  color: white;
  text-decoration: none;
}
/* pannel-start */

.pannel{
  height: 35px;
  background-color: #222f3b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  overflow-x: auto; /* allow horizontal scroll */
  white-space: nowrap; /*prevent line breaks*/
  gap: 20px; /* space between items */
  padding-left: 20px;
  width: 100%;
  text-decoration: none;
}
.pannel i{
  font-size: 20px;
  cursor: pointer;
  width: 30px;
}

.pannel-opt p{
  display: inline;
  margin-left: 15px;
  cursor: pointer;

}

.nn{
  font-weight: bold;
  cursor: pointer;
}

.pannel-opt{
  width: 70%;
  font-size: 0.85rem;

}

.pannel-deals{
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
  cursor: pointer;
  margin-right: 20px;

}
/* header-end */


@media(max-width: 750px){
  .pannel-opt{
    display: none;
  }
  .nav-address{
    display: none;
  }
  .nav-return{
    display: none;
  }
}

@media(max-width: 600px){
  .nav-signin{
    display: none;
  }
  .nav-cart{
    margin-right: 10px;
    
  }
}

