.payment-success-continer{
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-success-card{
  background-color: rgb(247, 247, 247);
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}


h1{
  color: green;
}

.payment-success-message{
  width: 300px;
  text-align: center;
}

.payment-success-reference{
  background-color: rgb(179, 183, 186);
  padding: 10px;
}